<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="squeeze" version="12">
<ToolBar name="aGeneral">
  <text>General ToolBar</text>
  <Action name="quickViewPlots" />
  <Action name="productsBrowse" />
  <Action name="offersBrowse" />
  <Action name="usersBrowse" />
  <Action name="measuresBrowse" />
  <Action name="categoriesBrowse" />
  <Action name="clientsBrowse" />
  <Action name="randomMsgsBrowse" />
  <Action name="providersBrowse" />
  <Action name="viewLog" />
  <Action name="reservationsBrowse" />
</ToolBar>

<ToolBar name="bStockMovement">
 <text>Stock Movement</text>
 <Action name="doPurchase" />
 <Action name="checkOut" />
 <Action name="stockCorrection" />
</ToolBar>

<ToolBar name="cStocktakes">
  <text>Stocktakes</text>
  <Action name="stocktakes" />
</ToolBar>

<ToolBar name="dOther">
 <text>Other Actions</text>
 <Action name="login" />
 <Action name="file_quit" />
 <Action name="options_configure" />
</ToolBar>

<!-- MENU -->
<MenuBar>
    <Menu noMerge="1" name="Data"><text>&amp;Data</text>
      <Action name="productsBrowse" />
      <Action name="offersBrowse" />
      <Action name="usersBrowse" />
      <Action name="measuresBrowse" />
      <Action name="categoriesBrowse" />
      <Action name="clientsBrowse" />
      <Action name="providersBrowse" />
      <Action name="randomMsgsBrowse" />
      <Action name="reservationsBrowse" />
      <Action name="viewLog" />
    </Menu>
    <Menu name="Reports"><text>&amp;Reports</text>
      <Action name="cashFlowBrowse" />
      <Action name="transactionsBrowse" />
      <Action name="showSpecialOrders" />
      <Action name="balancesBrowse" />
      <Separator/>
      <Action name="printEndOfDay" />
      <Action name="printEndOfDayGral" />
      <Action name="printEndOfMonth" />
      <Action name="printLowStock" />
      <Action name="printSoldOut" />
    </Menu>
    <Menu name="Stocktakes"><text>&amp;Stocktakes</text>
      <Action name="startStocktake" />
      <Action name="editStocktake" />
      <Action name="printStocktake" />
      <Action name="closeStocktake" />
    </Menu>
</MenuBar>

</kpartgui>
